<main class=" mt-5 p-5 text-white">
    <div class="container ">
        <div class="row row-cols-1 ">
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <div class="img my-4  text-center">
                    <img src="./assets/img/boy.png" class=" w-50" alt="">
                </div>
                <div class="info text-center mb-4">
                    <h1 class="my-3">START ANGULAR</h1>
                    <div class="star my-3 d-flex justify-content-center align-items-center text-center">
                        <div class="line rounded"></div>
                        <i class="fas fa-star text-white fa-2x"></i>
                        <div class="line rounded"></div>
                    </div>
                    <p class="my-3">Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </div>
    </div>
</main>